.calendar-horizontal2 {
  position: relative;
}
.calendar-horizontal2 .filtr-top {
  margin: 0 0 0 320px;
  height: 77px;
  background: #EDEDED;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.calendar-horizontal2 .calendar-dates {
  margin: 0 0 0 319px;
  overflow: auto;
  padding-bottom: 10px;
}
.calendar-horizontal2 .search-top {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 320px;
  height: 150px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 0 320px;
  padding: 0 15px 12px;
  border-right: 1px solid #D8D8D8;
}
.calendar-horizontal2 .search-top .search-calendar {
  margin-bottom: 10px;
}
.calendar-horizontal2 .calendar-title {
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 20;
  background: #fff;
  width: 320px;
  overflow: hidden;
  border-right: 1px solid #D8D8D8;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note {
  height: 90px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-bottom: 1px solid #D8D8D8;
  margin: 0 0 -1px 0;
  position: relative;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note:first-child {
  border-top: 1px solid #D8D8D8;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note.drag:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.115942), rgba(255, 255, 255, 0));
  opacity: 0.4;
  z-index: 10;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note.drag:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.115942));
  opacity: 0.4;
  z-index: 10;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .img {
  width: 90px;
  height: 90px;
  flex: 0 0 90px;
  background: #ededef url('../img/ico-noimage.svg') center center no-repeat;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .img.opacity-easy {
  opacity: 0.3;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body {
  width: 100%;
  padding: 9px 10px 0 8px;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body .title {
  font-size: 16px;
  color: #000000;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body .address {
  font-size: 14px;
  color: #999999;
  margin-bottom: 4px;
  min-height: 28px;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body .description {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body .description .name {
  font-size: 14px;
  color: #444444;
}
.calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body .description .val .badge-text {
  display: inline-block;
  vertical-align: middle;
  background: #D0E7FD;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  color: #444444;
  height: 18px;
  line-height: 18px;
  min-width: 33px;
  padding: 0 4px;
}
.calendar-horizontal2 .dates-head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: #fff;
}
.calendar-horizontal2 .dates-head .day-val {
  flex: 0 0 90px;
  height: 73px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #444444;
  background: #fff;
}
.calendar-horizontal2 .dates-head .day-val.output {
  color: #999;
}
.calendar-horizontal2 .dates-head .day-val .month {
  font-size: 16px;
  margin-bottom: 4px;
  padding-left: 12px;
}
.calendar-horizontal2 .dates-head .day-val .number {
  font-size: 18px;
  line-height: 1;
  padding-left: 12px;
}
.calendar-horizontal2 .dates-head .day-val .day {
  font-size: 14px;
  margin-bottom: 3px;
  padding-left: 12px;
}
.calendar-horizontal2 .dates-list {
  position: relative;
  width: 100%;
  background: #fff;
}
.calendar-horizontal2 .dates-list .dates-list-in {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.calendar-horizontal2 .dates-list .dates-list-in .day {
  flex: 0 0 90px;
  background: #fff;
}
.calendar-horizontal2 .dates-list .dates-list-in .day:first-child .drag:after {
  left: -16px;
}
.calendar-horizontal2 .dates-list .dates-list-in .day:last-child .drag:after {
  right: 0;
}
.calendar-horizontal2 .sorting {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 18px 0 14px;
  width: 100%;
}
.calendar-horizontal2 .sorting .month-year {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.calendar-horizontal2 .sorting .month-year .select-month-year {
  cursor: pointer;
  font-size: 22px;
  color: #000000;
  padding: 0 26px 0 0;
  margin: 0;
  border: none;
  outline-style: none;
  position: relative;
  background: none;
}
.calendar-horizontal2 .sorting .month-year .select-month-year:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 0;
  background: url('../img/ico-select.svg') right center no-repeat;
}
.calendar-horizontal2 .sorting .sorting-select {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.calendar-horizontal2 .sorting .sorting-select .btn-sort {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  padding: 7px 12px;
  margin: 0;
  font-size: 14px;
  color: #444444;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.calendar-horizontal2 .sorting .sorting-select .btn-sort.go-to-date {
  background: #ffffff url('../img/ico-calendar.svg') 12px center no-repeat;
  padding: 7px 12px 7px 34px;
  margin: 0 20px 0 10px;
}
.calendar-horizontal2 .sorting .sorting-select .select-date-show {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.calendar-horizontal2 .sorting .sorting-select .select-date-show button {
  cursor: pointer;
  display: block;
  width: 34px;
  height: 34px;
  outline-style: none;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.calendar-horizontal2 .sorting .sorting-select .select-date-show button:after {
  content: '';
  display: block;
  background: url('../img/ico-right-arrow.svg') 0 0 no-repeat;
  position: absolute;
  top: 10px;
  left: 8px;
  width: 12px;
  height: 12px;
}
.calendar-horizontal2 .sorting .sorting-select .select-date-show button.prev:after {
  -moz-transform: rotate(180deg);
  /* Для Firefox */
  -ms-transform: rotate(180deg);
  /* Для IE */
  -webkit-transform: rotate(180deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg);
  /* Для Opera */
  transform: rotate(180deg);
  left: 12px;
}
.calendar-horizontal2 .sorting .sorting-select .select-date-show .text {
  font-size: 18px;
  color: #000000;
  padding: 0 15px;
}
.calendar-horizontal2 .apartment {
  height: 90px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border: 1px solid #D8D8D8;
  margin: 0 -1px -1px 0;
  position: relative;
}
.calendar-horizontal2 .apartment.color-red {
  background-color: #FDD2D2;
}
.calendar-horizontal2 .apartment.selection {
  background-color: #F6F6F6;
}
.calendar-horizontal2 .apartment.selection.s-start {
  background: #f6f6f6 url('../img/ico-plus.svg') center center no-repeat;
}
.calendar-horizontal2 .apartment.selection.s-end {
  background: #f6f6f6 url('../img/ico-minus.svg') center center no-repeat;
}
.calendar-horizontal2 .apartment.drag {
  position: relative;
}
.calendar-horizontal2 .apartment.drag:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.115942), rgba(255, 255, 255, 0));
  opacity: 0.4;
  z-index: 10;
}
.calendar-horizontal2 .apartment.drag:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.115942));
  opacity: 0.4;
  z-index: 10;
}
.calendar-horizontal2 .apartment .range {
  position: absolute;
  top: 50%;
  height: 40px;
  margin-top: -20px;
  left: 0;
  right: 0;
  background: #EDEDED;
  z-index: 1;
}
.calendar-horizontal2 .apartment .range.color-green {
  background-color: #B8E986;
}
.calendar-horizontal2 .apartment .range.color-blue {
  background-color: #D0E7FD;
}
.calendar-horizontal2 .apartment .range.color-gray {
  background-color: #EDEDED;
}
.calendar-horizontal2 .apartment .range.one {
  width: 40px;
  left: 50%;
  right: auto;
  margin-left: -20px;
  border-radius: 100px;
  z-index: 2;
}
.calendar-horizontal2 .apartment .range.one.two {
  margin-left: 0;
  left: 49%;
}
.calendar-horizontal2 .apartment .range.start {
  left: 50%;
  right: -1px;
  border-radius: 100px 0 0 100px;
  z-index: 2;
}
.calendar-horizontal2 .apartment .range.end {
  left: -1px;
  right: 50%;
  border-radius: 0 100px 100px 0;
  z-index: 1;
}
.calendar-horizontal2 .apartment .range.end.two {
  right: 51%;
}
.calendar-horizontal2 .apartment .range.part.start {
  left: 69%;
}
.calendar-horizontal2 .apartment .range.part.end {
  right: 58%;
}
.calendar-horizontal2 .apartment .range .user {
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;
  background: url('../img/ico-user-range.svg') center center no-repeat;
  position: absolute;
  top: 2px;
  left: 2px;
}
.calendar-horizontal2 .apartment .range .count {
  background-color: #444444;
  color: #fff;
  font-size: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.calendar-horizontal2 .apartment .range .count.color-red {
  background-color: #D0021B;
}
.search-calendar-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  padding: 7px 12px 7px 34px;
  margin: 0;
  font-size: 14px;
  color: #444444;
  position: relative;
  background: #ffffff url('../img/ico-calendar.svg') 12px center no-repeat;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search-calendar-btn:focus {
  outline: none;
}
.search-calendar-btn.go-to-date {
  margin: 0 20px 0 10px;
}
.search-calendar-btn.search-calendar {
  width: 100%;
  text-align: left;
  padding: 7px 12px 7px 38px;
}
@media all and (max-width: 960px) {
  .calendar-horizontal2 .sorting .sorting-select {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .calendar-horizontal2 .calendar-title {
    width: 56px;
    top: 64px;
  }
  .calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note {
    height: 56px;
  }
  .calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .body {
    display: none;
  }
  .calendar-horizontal2 .calendar-title .calendar-title-in .apartment-note .img {
    width: 56px;
    height: 55px;
    flex: 0 0 55px;
  }
  .calendar-horizontal2 .dates-head .day-val {
    height: 64px;
  }
  .calendar-horizontal2 .apartment {
    height: 56px;
  }
  .calendar-horizontal2 .dates-list .dates-list-in .day {
    flex: 0 0 56px;
  }
  .calendar-horizontal2 .dates-head .day-val {
    flex: 0 0 56px;
  }
  .calendar-horizontal2 .dates-head .day-val .month {
    margin-bottom: 0;
    line-height: 1;
    margin-bottom: 6px;
    padding-left: 9px;
  }
  .calendar-horizontal2 .dates-head .day-val .number {
    margin-bottom: 0;
    line-height: 1;
    padding-left: 9px;
  }
  .calendar-horizontal2 .dates-head .day-val .day {
    margin-bottom: 0;
    line-height: 1;
    margin-bottom: 2px;
    padding-left: 9px;
  }
  .calendar-horizontal2 .calendar-dates {
    margin-left: 55px;
  }
  .calendar-horizontal2 .filtr-top {
    display: none;
    margin-left: 56px;
  }
  .calendar-horizontal2 .search-top {
    width: 56px;
    height: 64px;
    padding: 0;
    border-right: 1px solid #D8D8D8;
  }
  .calendar-horizontal2 .search-top .select-free-object {
    display: none;
  }
  .calendar-horizontal2 .search-top .search-calendar-wr {
    height: 100%;
  }
  .calendar-horizontal2 .search-top .search-calendar-wr .search-calendar-btn.search-calendar {
    padding: 0;
    font-size: 0;
    margin-bottom: 0;
    height: 100%;
    border: none;
    background-position: center center;
  }
  .calendar-horizontal2 .search-top .calendar-title {
    top: 64px;
  }
}
