.search-calendar {
  input[type="text"], input[type="email"], input[type="phone"], textarea {
    outline-style: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background: #fff url('../img/ico-calendar.svg') 12px center no-repeat;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    line-height: 16px;
    font-size: 14px;
    color: #444444;
    padding: 7px 24px 7px 40px;
    &::-webkit-input-placeholder {color:#444444;}
    &::-moz-placeholder          {color:#444444;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#444444;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#444444;}
  }
}

.select-system {
  display: block;
  width: 100%;
  outline-style: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  padding: 7px 24px 7px 12px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  -webkit-appearance: none;
  background-image: url('../img/ico-select.svg');
  background-position: right 11px top 7px;
  background-repeat: no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  box-sizing: border-box;
  &::-ms-expand {
      display: none;
  }
}

.textarea-system {
  outline-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  padding: 7px 24px 7px 12px;
  &::-webkit-input-placeholder {color:#444444;}
  &::-moz-placeholder          {color:#444444;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#444444;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#444444;}
}

.input-text-system {
  outline-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  padding: 7px 24px 7px 12px;
  &::-webkit-input-placeholder {color:#444444;}
  &::-moz-placeholder          {color:#444444;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#444444;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#444444;}
}