.search-calendar input[type="text"],
.search-calendar input[type="email"],
.search-calendar input[type="phone"],
.search-calendar textarea {
  outline-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background: #ffffff url('../img/ico-calendar.svg') 12px center no-repeat;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  padding: 7px 24px 7px 40px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search-calendar input[type="text"]::-webkit-input-placeholder,
.search-calendar input[type="email"]::-webkit-input-placeholder,
.search-calendar input[type="phone"]::-webkit-input-placeholder,
.search-calendar textarea::-webkit-input-placeholder {
  color: #444444;
}
.search-calendar input[type="text"]::-moz-placeholder,
.search-calendar input[type="email"]::-moz-placeholder,
.search-calendar input[type="phone"]::-moz-placeholder,
.search-calendar textarea::-moz-placeholder {
  color: #444444;
}
.search-calendar input[type="text"]:-moz-placeholder,
.search-calendar input[type="email"]:-moz-placeholder,
.search-calendar input[type="phone"]:-moz-placeholder,
.search-calendar textarea:-moz-placeholder {
  color: #444444;
}
.search-calendar input[type="text"]:-ms-input-placeholder,
.search-calendar input[type="email"]:-ms-input-placeholder,
.search-calendar input[type="phone"]:-ms-input-placeholder,
.search-calendar textarea:-ms-input-placeholder {
  color: #444444;
}
.select-system {
  display: block;
  width: 100%;
  outline-style: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  padding: 7px 24px 7px 12px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  -webkit-appearance: none;
  background-image: url('../img/ico-select.svg');
  background-position: right 11px top 7px;
  background-repeat: no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  box-sizing: border-box;
}
.select-system::-ms-expand {
  display: none;
}
.textarea-system {
  outline-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  padding: 7px 24px 7px 12px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.textarea-system::-webkit-input-placeholder {
  color: #444444;
}
.textarea-system::-moz-placeholder {
  color: #444444;
}
.textarea-system:-moz-placeholder {
  color: #444444;
}
.textarea-system:-ms-input-placeholder {
  color: #444444;
}
.input-text-system {
  outline-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
  padding: 7px 24px 7px 12px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.input-text-system::-webkit-input-placeholder {
  color: #444444;
}
.input-text-system::-moz-placeholder {
  color: #444444;
}
.input-text-system:-moz-placeholder {
  color: #444444;
}
.input-text-system:-ms-input-placeholder {
  color: #444444;
}
