@charset "utf-8";
/* CSS Document */
							
body 						{ line-height: 1.25; text-align:left; color:#000; font: 14px 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif; background:#f6f6f6;}
a 							{ color: #c00a19;  margin: 0; padding: 0; font-size: 100%; background: transparent; text-decoration:underline; outline-style:none;}
a:hover 					{ color: #c00a19; text-decoration:none }
hr 							{ border-top: 1px solid #bbb;}

h1 { color:#bf0a19; font:normal 24px Arial, Helvetica, sans-serif; margin:0; padding:0 0 16px;}
h2,h3,h4,h5,h6 { font-family:Arial, Helvetica, sans-serif; color:#bf0a19; font-weight:normal; font-style:normal; margin:12px 0;}
h2 { font-size: 22px;}
h3 { font-size: 20px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}


img {
    max-width: 100%;
    height: auto;
}
* {
  box-sizing: border-box;
}



/* Стили для popup  */
@import "styles-popup.less";

/* Стили для календаря  */
@import "calendar-horizontal.less";

/* Глобальные стили (инпут, текстарея, селект и т.д.)  */
@import "global-styles.less";


