/* popup-forms start  */
.popup-wr {
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
  padding: 20px 25px;
  border: 1px solid #ccc;
  background: #fff;
}
.popup-wr.cancel-reservation {
  max-width: 320px;
}
.popup-wr .popup-title {
  font-size: 17px;
  color: #000000;
  margin-bottom: 12px;
}
.popup-wr .popup-body {
  font-size: 15px;
  color: #444444;
  margin-bottom: 12px;
}
.popup-wr .text-popup {
  font-size: 14px;
  color: #464646;
  margin-bottom: 20px;
  min-height: 80px;
}
.spoiler-btn {
  margin-bottom: 10px;
}
.spoiler-btn span {
  cursor: pointer;
  font-size: 15px;
  color: #2D6CB4;
  position: relative;
}
.spoiler-btn span:after {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 2px;
  right: -17px;
  background: url('../img/ico-spoiler.svg') 0 0 no-repeat;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.spoiler-btn + .spoiler-body {
  display: none;
  padding: 0 6px;
}
.spoiler-btn + .spoiler-body .spoiler-body-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
.spoiler-btn.active span:after {
  top: 6px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.spoiler-btn.active + .spoiler-body {
  display: block;
}
.field-title {
  font-size: 13px;
  color: #444444;
  margin-bottom: 8px;
}
.field-note {
  font-size: 13px;
  color: #999999;
  padding-top: 4px;
}
.margin-b {
  margin-bottom: 14px;
}
.margin-b2 {
  margin-bottom: 30px;
}
.margin-b3 {
  margin-bottom: 20px;
}
.btn-popup {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  outline-style: none;
  padding: 8px 20px;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  color: #444444;
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-popup.white {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.15);
  color: #444444;
}
.btn-popup.white:hover {
  background-color: #f8f8f8;
}
.btn-popup.blue {
  background-color: #498BC3;
  border-color: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.btn-popup.blue:hover {
  background-color: #4499e1;
}
.btn-popup:focus {
  outline: none;
}
.btn-popup-cancel {
  cursor: pointer;
  display: block;
  outline-style: none;
  padding: 0;
  margin: 0 0 5px;
  width: 100%;
  border: none;
  font-size: 14px;
  color: #444444;
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  background: #F6F6F6;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-popup-cancel:focus {
  outline-style: none;
}
.btn-popup-cancel span {
  margin-right: 16px;
}
.btn-popup-cancel span.ico-red path {
  fill: #E10600;
}
.pd-10 {
  padding: 0 10px;
}
.menu-top-tabs {
  position: relative;
  margin-bottom: 14px;
  border-bottom: 1px solid #D8D8D8;
}
.menu-top-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.menu-top-tabs ul li {
  cursor: pointer;
  margin: 0 40px 0 0;
  padding: 10px 0 12px;
  line-height: 18px;
  font-size: 15px;
  color: #464646;
  position: relative;
}
.menu-top-tabs ul li:after {
  content: '';
  display: block;
  height: 3px;
  background-color: #498BC3;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -1px;
  transition: all 0.3s ease;
  opacity: 0;
}
.menu-top-tabs ul li:hover:after {
  opacity: 0.4;
}
.menu-top-tabs ul li.active {
  cursor: default;
}
.menu-top-tabs.first-active li.active:after {
  opacity: 1;
}
.menu-top-tabs .line-active-menu {
  height: 3px;
  background-color: #498BC3;
  position: absolute;
  transition: all 0.4s ease-out;
  top: 100%;
  margin-top: -1px;
}
.tabs-wr .section {
  display: none;
}
.tabs-wr .section.active {
  display: block;
}
.tabs-wr .section > .section-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup-edit-wr {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: #fff;
}
.popup-edit-wr.form {
  max-width: 530px;
}
.popup-edit-wr.cancel-reservation {
  max-width: 320px;
}
.popup-edit-wr .popup-edit-head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: #F6F6F6;
  align-items: center;
  padding: 16px 20px;
  min-height: 57px;
}
.popup-edit-wr .popup-edit-head .img {
  padding: 0 18px 0 3px;
}
.popup-edit-wr .popup-edit-head .name {
  font-size: 17px;
  color: #999999;
}
.popup-edit-wr .popup-edit-in {
  padding: 20px 25px;
}
.popup-edit-wr .popup-edit-in .popup-edit-note {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.popup-edit-wr .popup-edit-in .popup-edit-note .img {
  flex: 0 0 28px;
  margin-right: 10px;
}
.popup-edit-wr .popup-edit-in .popup-edit-note .body {
  font-size: 13px;
  color: #444444;
}
.popup-edit-wr .popup-edit-in .contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-left .img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background: #F6F6F6;
  margin: 0 20px 0 0;
  flex: 0 0 60px;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-left .data .name {
  font-size: 17px;
  color: #444444;
  margin-bottom: 4px;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-left .data .phone {
  font-size: 15px;
  color: #444444;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-left .data .phone a {
  color: #444444;
  text-decoration: none;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-right {
  font-size: 14px;
}
.popup-edit-wr .popup-edit-in .contacts .contacts-right a {
  color: #2D6CB4;
  text-decoration: none;
}
.popup-edit-wr .contacts-title {
  font-size: 14px;
  color: #999999;
  margin-bottom: 4px;
}
.popup-edit-wr .contacts-val {
  font-size: 22px;
  color: #444444;
}
.popup-edit-wr .contacts-val.fz2 {
  font-size: 17px;
}
.popup-edit-wr .contacts-val.fz3 {
  font-size: 15px;
}
.popup-edit-wr .contacts-val.name {
  font-size: 17px;
  margin-bottom: 4px;
}
.popup-edit-wr .contacts-val.fz4 {
  font-size: 14px;
  line-height: 1.1;
}
.popup-edit-wr .contacts-val a {
  color: #444444;
  text-decoration: none;
}
.popup-edit-wr .price-title {
  font-size: 17px;
  color: #444444;
}
.popup-edit-wr .price-note {
  font-size: 14px;
  color: #444444;
}
.popup-edit-wr .form-currency-val {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.popup-edit-wr .form-currency-val .form-currency {
  margin-left: 10px;
}
@media all and (max-width: 576px) {
  .popup-wr {
    padding-left: 20px;
    padding-right: 20px;
  }
  .popup-edit-wr .popup-edit-head {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popup-edit-wr .popup-edit-in {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popup-edit-wr .popup-edit-in .contacts {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .popup-edit-wr .popup-edit-in .contacts .contacts-left {
    margin-bottom: 10px;
  }
  .popup-edit-wr .contacts-val {
    font-size: 17px;
  }
  .margin-b-mob {
    margin-bottom: 14px;
  }
  .margin-b2 {
    margin-bottom: 20px;
  }
}
